<div class="card p-3" *ngIf="taskInfo">
    <div class="card-title d-flex justify-content-between">
        <h4>{{taskInfo.title}} </h4>
        <div #menuContainer class="opt-btn card-action-buttons-container">
            <p-menu #menu [model]="items" [popup]="true" styleClass="card-menu" [autoZIndex]="true"></p-menu>
            <i pButton type="button" (click)="menu.toggle($event)" class="pi pi-ellipsis-v" ></i>
        </div>
    </div>
    <div class="card-body">
        <h5>Description :</h5>
        <p>{{taskInfo.description}}</p>
        <h6>Created : {{currentDate}} </h6>
        <h6>Updated : </h6>
        <div class="btns mt-4 d-flex justify-content-between">
            <button> Prev.</button>
            <button> Next</button>
        </div>
    </div>
</div>