<!-- <p-carousel
  [value]="products"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="false"
  autoPlayInterval="3000"
>
  <ng-template let-task pTemplate="item">
    <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
      <div>
        <app-card [taskInfo]="task"></app-card>
      </div>
    </div>
  </ng-template>
</p-carousel> -->
<owl-carousel-o [options]="customOptions" >
    <ng-container *ngFor="let task of tasksInfo">
         <app-owl-carousel-slide-card [task]="task"></app-owl-carousel-slide-card>
    </ng-container>
  </owl-carousel-o>