@media screen and (max-width: 568px) {
  .create-task {
    width: 75% !important;
  }
  h1
  {
    font-size:25px ;
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
    .create-task {
        width: 75% !important;
      }
      h1
      {
        font-size:30px ;
      }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .create-task {
        width: 75% !important;
      }
   
}

@media screen and (min-width: 993px) {
      .create-task {
    width: 80% !important;
  }
}
