.border-1 {
  border: none;
}

.resize {
  margin: 20px 0;
  border-radius: 30px;
  padding: 1px;
  
  h3
  {
    margin-top: 20px;
  }
}

@media screen and (max-width:568px)
{
  .resize
  {
    width: 85%;
    margin: auto;
    padding: 1px;
    h3
    {
      font-size: 20px;
      margin-top: 20px;
    }
  }


}


@media screen and (min-width:569px) and (max-width:768px)
{
  .resize
  {
    width: 95%;
    padding: 1px ;
    h3
    {
      font-size: 20px;
      margin-top: 20px;
    }
  }


}


@media screen and (min-width:769px) and (max-width:992px)
{
  .resize
  {
    width: 100%;
    padding: 1px ;
    h3
    {
      font-size: 30px;
      margin-top: 20px;
    }
  }

}


@media screen and (min-width:993px) 
{

}