<div class="w-50 mt-5 container update-task  ">
  <h1 class="text-center ">Update Task</h1>
  <form *ngIf="taskInfo" [formGroup]="taskInfo" (ngSubmit)="submit()">
    <label for="title">Title:</label>
    <input
      formControlName="title"
      class="form-control"
      type="text"
      placeholder="Task Title"
    />
    <label for="description">Description:</label>
    <input
      formControlName="description"
      class="form-control"
      type="text"
      placeholder="Description"
    />
    <div class="d-flex justify-content-between">
      <button (click)="cancel()" type="button">cancel</button>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
